/* Common */

body {
    margin: 15px;
}

a:link,
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

body > section p,
body > section li {
    font-size: 22px;
}

p,
h1, 
li {
    font-family: "Kameron", Arial, serif;
}

h1,
nav > ul > li {
    font-size: 30px;
}

h1,
body > section p,
body > section ul {
    margin-bottom: 10px;
}

/* Twitter widget */

#twtr-widget-1 {
    float: right;
}

/* Navigation */

nav > ul > li {
    display: inline;
}

nav > ul > li:before {
    content: "/ ";
}

nav > ul > li:first-child:before {
    content: "";
}

nav > ul > li:after {
    content: " ";
}