<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/public/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/bigfoot-number.css">

  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.png">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/public/bigfoot.min.js"></script>

  <script>
    $.bigfoot({
      actionOriginalFN: 'ignore'
    });
  </script>

  {% feed_meta %}
</head>
