<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.tagline }}{% endif %}
  </title>

  {% if page.excerpt %} {% assign description = page.excerpt | strip_html | strip_newlines | truncatewords: 50 %} {% else %} {% assign
  description = site.description %} {% endif %} {% if page.title %} {% assign title = page.title %} {% else %} {% assign title =
  site.tagline %} {% endif %} {% if page.title %} {% assign type = 'article' %} {% else %} {% assign type = 'website' %} {% endif %} {% if
  page.image %} {% assign image = page.image %} {% else %} {% assign image = 'http://irace.me/public/bryan.png' %} {% endif %} {% assign
  minutes_to_read = page.content | strip_html | number_of_words | divided_by: 220 %} {% assign url = page.url | prepend: site.baseurl |
  prepend: site.url %}

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:type" content="{{ type }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:locale" content="en_US" />
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date }}" />
  {% endif %}
  <meta name="twitter:site" content="@iracedotme" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ image }}" />
  {% if page.title %}
  <meta name="twitter:label1" value="Reading time" />
  <meta name="twitter:data1" value="{{ minutes_to_read }} min read" />
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/public/poole.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/styles.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/syntax.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/bigfoot-number.css" />

  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.png" />

  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/public/bigfoot.min.js"></script>

  <script>
    $.bigfoot({
      actionOriginalFN: "ignore"
    });
  </script>

  {% feed_meta %}
  <link type="application/json" rel="alternate" href="/feed.json" title="{{ site.title }}" />
</head>
