html {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

body {
  background-color: #292B37;
}

a {
  color: #66D9EF;
}

/* Header */

.image-container {
  text-align: center;
}

.image-container img {
  width: 99px;
  height: 99px;
  display: inline;
}

.masthead {
  margin-bottom: 0;
}

/* Navigation */

nav {
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  text-align: center;
}

nav a {
  color: #b0619e;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* Posts */

.post-title,
.post-title a {
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 34px;
  font-weight: normal;
  color: #9DCE7A;
}

time.post-date {
  font-size: 17px;
}

article, article strong {
  color: #EAEAEA;
}

article p {
  font-weight: 300;
}

mark {
  background-color: #E59053;
}

/* Code */

code,
.highlight {
  background-color: #27272F !important;
}

.highlight {
  overflow: scroll;
}

.highlight * {
  font-weight: normal !important;
}

/* Footer */

footer {
  font-size: 14px;
  color: #9A9A9A;
  text-align: center;
}

/* Misc. overrides */

hr {
  margin-left: 30%;
  margin-right: 30%;
  border-top: 1px solid rgba(238, 238, 238, 0.5);
  border-bottom: 0;
}
