/* Lists */

ul.bullet {
  list-style-type: none;
  list-style-position: inside;

  padding-left: 15px;
}

ul.bullet li {
  background-image: url('/images/bullet.png');
  background-repeat: no-repeat;
  background-size: 8px 12px;
  background-position: left center;

  padding-left: 15px;

  line-height: normal !important;
}

@media only screen and (min--moz-device-pixel-ratio: 2), 
        only screen and (-o-min-device-pixel-ratio: 2/1), 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-device-pixel-ratio: 2),
        only screen and (max-width: 749px) {
  ul.bullet li {
    background-image: url('/images/bullet@2x.png');
  }
}

/* Now Playing */

#now_playing {
  display: none;
}

#now_playing .artwork {
  vertical-align: middle;
  margin-right: 15px;
}
