/* Code */

pre {
  margin: 25px auto 20px auto;
  font-size: 15px;
}

img {
    max-width: 100%;
}

img, .centered-tweet {
    margin: 20px auto 20px auto;
}

code {
  padding: 0;
  background-color: inherit;
}

mark {
  color: #EAEAEA;
  background-color: rgba(121, 121, 96, 1);;
  padding: 2px 6px 2px 6px;
}