* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
	margin: 40px 0 40px 0;
	background-color: #303030;
  color: #EAEAEA !important;
	font-size: 20px;
}

header .image-container {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  width: 99px;
  height: 99px;
}

section {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

li {
  background-image: url('/images/bullet.png');
  background-repeat: no-repeat;
  background-size: 8px 12px;
  background-position: left center;
  padding-left: 15px;
}

@media only screen and (min--moz-device-pixel-ratio: 2), 
        only screen and (-o-min-device-pixel-ratio: 2/1), 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-device-pixel-ratio: 2),
        only screen and (max-width: 749px) {
  li {
    background-image: url('/images/bullet@2x.png');
  }
}

li, p {
  line-height: normal !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Menlo", Courier, monospace;
  color: white;
}

h1 {
	font-size: 40px;
	letter-spacing: -1px;
}

a:link, a:visited, a:hover, a:active {
	color: #BCE7FF;
	opacity: 1;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}

a:hover {
	opacity: 0.5;
}

#now_playing {
  display: none;
}

#now_playing .artwork {
  vertical-align: middle;
  margin-right: 15px;
}
