body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #EAEAEA;
  -webkit-font-smoothing: antialiased;

	margin: 40px;

	background-color: #303030;
}

h1 {
  font-size: 40px;
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Menlo", Courier, monospace;
  color: white;
}

li {
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.25em;
}

section {
  margin-top: 20px;
}

/* Links */

a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  opacity: 1;
}

a:link, a:visited, a:hover, a:active, a code {
  color: #BCE7FF;
}

a:hover {
  opacity: 0.5;
}

/* Heading */

header .image-container {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  width: 99px;
  height: 99px;
}
